<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>xmSync</title>

</head>
<body>
<pre>
___   ___ .___  ___.      _______.____    ____ .__   __.   ______ 
\  \ /  / |   \/   |     /       |\   \  /   / |  \ |  |  /      |
 \  V  /  |  \  /  |    |   (----` \   \/   /  |   \|  | |  ,----'
  >   <   |  |\/|  |     \   \      \_    _/   |  . `  | |  |     
 /  .  \  |  |  |  | .----)   |       |  |     |  |\   | |  `----.
/__/ \__\ |__|  |__| |_______/        |__|     |__| \__|  \______|
</pre>

    <p>I'm glad you are here, however the website is not ready yet. Please view my Python based project <a href="https://github.com/matt-ernst/xmSync">here</a>...</p>
    <p>- Matt Ernst (<i>matt.ernst@xmsync.com</i>)</p>
</body>
</html>